@media (max-width: 1240px) {

	h4 {
		font-size: 22px;
		line-height: 26px;
	}
	.title {
		font-size: 86px;
		line-height: 118px;
		margin-bottom: 30px;
	}
	
	.header__title {
		padding-top: 120px;
		font-size: 180px;
		line-height: 220px;
	}
	.header__title span {
		font-size: 50px;
		margin-top: -50px;
	}

	.our-trip__title span{
		margin-left: 225px;
	}
	.our-trip__list {
		font-size: 20px;
		line-height: 26px;
	}
	.our-trip__slider-item img {
		-o-object-fit: cover;
		object-fit: cover;
	}
	
	.hotel__images{
		margin-right: 50px;
		height: 70vh;
		min-width: auto;
	}
	.hotel__gallery{
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.hotel__gallery img {
		width: 250px;
	}
	.hotel__gallery a {
		margin-top: 20px;
	}

	.price{
		background-position: center right 1%;
	}
}

@media (max-width: 999px) {
	.page-section {
		margin: 100px auto;
	}
	.fairy-tail__container {
		position: static;
	}
	.fairy-tail__slider {
		width: 100%;
	}
	.fairy-tail__body{
		width: 100%;
		padding: 0;
	}
	.hotel__content{
		height: 70vh;
	}
	.price{
		background-position:center right 1%;
	}
	.price__inner{
		display: block;
	}
	.price__on {
		margin-bottom: 50px;
		width: 70%;
	}
	.price__on-title,
	.price__off-title {
		margin-bottom: 25px;
	}
	
	.contacts__images {
		-o-object-fit: contain;
		object-fit: contain;
	}
	.footer__inner {
		display: block;
		text-align: center;
	}
	.footer__text {
		font-size: 76px;
	}
}


@media (max-width: 840px) {

	h4 {
		font-size: 20px;
		line-height: 24px;
	}

	.title {
		font-size: 86px;
		line-height: 118px;
		margin-bottom: 30px;
	}

	.header__title {
		padding-top: 120px;
		font-size: 120px;
		line-height: 150px;
	}
	.header__title span {
		font-size: 30px;
		margin-top: -40px;
	}
	.header__top {
		font-size: 20px;
		line-height: 24px;
	}
	.header__phone::before {
		width: 25px;
		height: 25px;
		background-size: cover;
	}

	.our-trip__inner {
		min-height: 650px;
	}
	.our-trip__list {
		padding: 5px 0;
		font-size: 18px;
		line-height: 24px;
	}

	.our-trip__body {
		width: 100%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: start;
		-webkit-align-items: start;
		-ms-flex-align: start;
		align-items: start;
		height: 99%;
	}
	.our-trip__slider-item img{
		height: 50vh;
		margin-top: 20vh;
		margin-bottom: 10vh;
	}

	.hotel__images{
		margin-right: 50px;
		height: 50vh;
		min-width: auto;
	}
	.hotel__gallery{
		margin-top: 160px;
	}
	.hotel__content{
		height: auto;
	}
	.hotel__text{
		font-size: 16px;
	}

	.footer__contacts {
		margin: 0 auto;
	}

}


@media (max-width: 720px) {
	.hotel__gallery{
		margin-top: 20px;
	}
	
	.contacts__inner {
		display: block;
	}
	.contacts__content{
		margin-right: 0;
	}
	.contacts__images {
		height: 50vh;
		margin: 20px auto;
		display: block;
	}
}

@media (max-width: 600px) {
	h4 {
		font-size: 18px;
		line-height: 24px;
	}

	.header__top {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-top: 35px;
	}
	.menu {
		width: 100%;
		text-align: center;
		margin: 0 0 25px;
	}
	.header__title {
		padding-top: 130px;
		font-size: 80px;
		line-height: 120px;
	}
	.header__title span {
		font-size: 22px;
		margin-top: -50px;
		margin-right: 15px;
	}
	.slick-btn {
		display: none;
	}
	.fairy-tail__item img {
		height: 50vh;
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
	.page-section {
		margin: 50px 0;
	}
	.title {
		font-size: 66px;
		line-height: 108px;
		margin-bottom: 25px;
	}
	.title span {
		font-size: 18px;
	}
	.fairy-tail__title span {
		margin-left: 135px;
	}

	.our-trip__container {
		position: static;
		margin-bottom: 25px;
	}

	.our-trip__content {
		width: 100%;
		padding-right: 0;
	}
	.our-trip__body {
		width: 100%;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.our-trip__title span{
		margin-left: 175px;
	}
	.our-trip__body-item {
		width: 290px;
	}
	.our-trip__list {
		padding: 5px 0;
		font-size: 16px;
		line-height: 22px;
	}

	.our-trip__slider{
		width: 100%;
	}
	
	.our-trip__slider-item img{
		height: 50vh;
		margin: 0 auto;
	}
	
	.hotel__title span{
		margin-left: 100px;
	}
	.hotel__images{
		float: none;
		margin: 0 auto 15px;
	}
	.price{
		background-position: center right -210px;
	}
	.price__list {
		font-size: 16px;
	}
	.price__list-item{
		margin-bottom: 10px;
	}
	.price__on{
		margin-right: 0;
		width: 90%;
	}
	
	.contacts__date,
	.contacts__price {
		font-size: 80px;
	}
	.contacts__price {
		margin-left: 105px;
		margin-bottom: 20px;
	}
	.contacts__date span,
	.contacts__price span {
		font-size: 20px;
		margin-left: 120px;
	}

	.footer__contacts {
		width: 320px;
		height: 480px;
		background-size: contain;
	}
	.footer__contacts-title {
		padding-top: 40px;
	}
	.footer__text {
		font-size: 48px;
	}
}


@media (max-width: 370px) {
	.header__title {
		font-size: 60px;
		line-height: 120px;
	}
	.header__title span {
		font-size: 18px;
		margin-right: 0px;
	}
	.menu__list-item + .menu__list-item {
		margin-left: 18px;
	}
	.title {
		font-size: 46px;
		line-height: 100px;
	}

	.fairy-tail__title span {
		margin-left: 95px;
	}
	
	.our-trip__title span{
		margin-left: 125px;
	}

	.hotel__title span{
		margin-left: 70px;
	}
	.price__on{
		width: 100%;
	}

	.contacts__images {
		height: 45vh;
	}
	.contacts__date span,
	.contacts__price span {
		margin-left: 80px;
	}

	.footer__contacts {
		width: 290px;
		height: 430px;
	}
	.footer__contacts-title {
		padding-top: 0px;
	}
	.footer__text {
		font-size: 42px;
	}
}


@media (min-width: 1610px) {
	.our-trip__slider .slick-next{
		left: 740px;
	}
}